body {

	
	background: -moz-linear-gradient(
		left,
		black,
		dodgerblue 50%,
		black
	);
	
	background: -webkit-linear-gradient(#000000, #1D8DFA , #000000);
	
}

.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

.bouton a {



transition-duration: 1s;
display:block;
width:346px;
line-height:128px;
background:url(image/couche.png) no-repeat;
color:transparent;
text-decoration:none;
}
.bouton a:hover {

background:url(image/couche1.png) no-repeat;
transition-duration: 1s;

}

.bouton b {



transition-duration: 1s;
display:block;
width:346px;
line-height:128px;
background:url(image/leve.png) no-repeat;
color:transparent;
text-decoration:none;
}
.bouton b:hover {

background:url(image/leve1.png) no-repeat;
transition-duration: 1s;

}

.bouton d {

	margin-top:-190;

transition-duration: 1s;
display:block;
width:600px;
line-height:128px;
background:url(image/tleft.png) no-repeat;
color:transparent;
text-decoration:none;
}

h1 {
	position:absolute;
	top:160px;
	width: 90%;
	right: 5%;
	left: 5%;
}

h3 {
	position:absolute;
	top:50px;
	right:20px;
	width:200px;
	height:165px;
	background:url(image/cycle.png) no-repeat;
	font-size: 60px; 
	font-weight: 60;
	color: red;
 }